# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite
db.sqlite3
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Python build files
*.egg-info/